<div id="player">
    <div id="player-title">
        <span id="title">Player Info</span><br>
        <span id="player-name">{{getPlayer().name}}</span>
    </div>
    <hr>
    <div id="resource-display">
        <span id="resource-text">HP</span>
        <progress id="health-bar"
            value="{{getPlayer().health.current}}" 
            max="{{getPlayer().health.max}}"></progress><br>
    </div>
    <div class="skill-div">
        <span class="skill-title">Life Skills</span>
        <span *ngFor="let skill of getPlayer().lifeSkills">
            <div *ngIf="isSkillActivated(skill)">
                <span class="skill-text">{{skill.id}}</span>
                <span class="skill-value">{{skill.level}}</span>
                <progress class="exp-bar"
                    value="{{skill.exp}}"
                    max="{{skill.expToLevel}}"></progress>
            </div>
        </span>
    </div>
    <div class="stat-div">
        <span class="stat-title">Combat Stats</span>
        <span *ngFor="let stat of getPlayer().combatStats">
            <span class="stat-text">{{stat.id}}</span>
            <span class="stat-value">{{stat.level}}</span>
            <button class="stat-level-up"
                [disabled]="!hasUnallocatedStats()"
                (click)="levelStat(stat)">+</button>
        </span>
    </div>
</div>