#upgrade {
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    border: 5px double black;
}

#upgrade-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#upgrade-name {
    font-size: x-large;
}