.subtitle {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: medium;
}

#table {
    margin-top: 5px;
    border: 1px solid black;
    width: 100%;
}

.amount-column {
    width: 15%;
    text-align: center;
}

.item-column {
    text-align: center;
    width: 60%;
}

.item-name {
    font-weight: 500;
}

.item-description {
    font-weight: 100;
    font-style: italic;
    font-size: small;
}

.actions-column {
    width: 30%;
}