#inventory {
    margin: 5px;
    padding: 5px;
    border: 5px double black;
}

#inventory-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#title {
    font-size: x-large;
}

#table {
    width: 100%;
}