#inventory {
    margin: 5px;
    padding: 5px;
    border: 5px double black;
}

#inventory-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#title {
    font-size: x-large;
}

#table {
    width: 100%;
}

.amount-column {
    width: 15%;
    text-align: center;
}

.item-column {
    width: 60%;
}

.item-name {
    font-weight: 500;
}

.item-description {
    font-weight: 100;
    font-style: italic;
    font-size: small;
}

.actions-column {
    width: 30%;
}