<div id="inventory">
    <div id="inventory-title">
        <span id="title">Inventory</span><br>
    </div>
    <hr>
        Currencies
    <hr>
    <table id="table">
        <tr>
            <th class="amount-column">Amount</th>
            <th class="item-column">Item</th>
            <th class="actions-column">Actions</th>
        </tr>
        <tr *ngFor="let item of listItems()">
            <td class="amount-column">{{item.amount}}</td>
            <td class="item-column">
                <span class="item-name">{{item.name}}</span><br>
                <span class="item-description">{{item.description}}</span>
            </td>
            <td class="action-column">
                <button (click)="useItem(item)">Use</button>
            </td>
        </tr>
    </table>
</div>