<button (click)="saveGame()">Save</button>
<button (click)="clearSave()">Reset</button>
<div id="main">
    <div [ngClass]="getBreakpoint('outer')">
        <div [ngClass]="getBreakpoint('inner')">
            <app-panel [componentName]="'player'"></app-panel>
            <app-panel [componentName]="'upgrade'"></app-panel>
        </div>
        <div [ngClass]="getBreakpoint('inner')">
            <app-panel [componentName]="'dungeon'"></app-panel>
            <app-panel [componentName]="'combat'"></app-panel>
        </div>
    </div>
    <div [ngClass]="getBreakpoint('outer')">
        <div [ngClass]="getBreakpoint('inner')">
            <app-panel [componentName]="'inventory'"></app-panel>
        </div>
        <div [ngClass]="getBreakpoint('inner')">
            <app-panel [componentName]="'messageLog'"></app-panel>
        </div>
    </div>
</div>