.outer-large {
    float: left;
    box-sizing: border-box;
    width: 100%;
}

.outer-small {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.inner-large {
    float: left;
    box-sizing: border-box;
    width: 100%;
}

.inner-small {
    float: left;
    box-sizing: border-box;
    width: 50%;
}