<button (click)="saveGame()">Save</button>
<button (click)="clearSave()">Reset</button>
<div id="main">
    <div [ngClass]="getBreakpoint('outer')">
        <div [ngClass]="getBreakpoint('inner')">
            <app-panel [componentName]="'player'"></app-panel>
            <app-player></app-player>
            <app-upgrade></app-upgrade>
        </div>
        <div [ngClass]="getBreakpoint('inner')">
            <app-dungeon></app-dungeon>
            <app-combat></app-combat>
        </div>
    </div>
    <div [ngClass]="getBreakpoint('outer')">
        <div [ngClass]="getBreakpoint('inner')">
            <app-inventory></app-inventory>
        </div>
        <div [ngClass]="getBreakpoint('inner')">
            <app-log-window></app-log-window>
        </div>
    </div>
</div>