#dungeon {
    width: 100% - 10px;
    padding: 10px;
    border: 5px double black;
}

#dungeon-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#title {
    font-size: medium;
}

#dungeon-name {
    font-size: x-large;
}

#exploration-text {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 16%;
}

#exploration-bar {
    vertical-align: middle;
    -webkit-appearance: none;
    width: 84%;
    height: 20px;
    border: 4px solid darkgreen;
}
#exploration-bar::-webkit-progress-value {
    background-color: lightgreen;
}
#exploration-bar::-webkit-progress-bar {
    background-color: black;
}

.action-button {
    margin: 5px;
    padding: 5px;
}