<div id="dungeon">
    <div id="dungeon-title">
        <span id="title">Current Area</span><br>
        <span id="dungeon-name">{{getDungeon().name}}</span>
    </div>
    <hr>
    <div id="exploration-display">
        <span id="exploration-text">Area explored: </span>
        <progress id="exploration-bar"
            value="{{getDungeon().exploration.current}}"
            max="{{getDungeon().exploration.max}}"></progress>
    </div>
    <hr>
    Current Action:
    <span *ngIf="getDungeon().action == undefined">
        Rest
    <br></span>
    <span *ngIf="getDungeon().action != undefined">
        {{getDungeon().action?.name}}
    <br></span>
    <button id="action-button"
        (click)="setAction(undefined)"
        [disabled]="getDungeon().action == undefined">Rest</button>
    <button id="action-button"
        *ngFor="let action of getUnlockedActions()"
        (click)="setAction(action)"
        [disabled]="getDungeon().action == action">{{action.name}}</button>
</div>
