<div>
    <div *ngFor="let action of getUnlockedActions()">
        <span class="action-progress-label">{{action.progress.label}}</span>
        <progress class="action-progress-bar"
            value="{{action.progress.current}}"
            max="{{action.progress.max}}"></progress>
    </div>
    <hr>
    <button class="action-button"
        (click)="setAction(undefined)"
        [disabled]="getDungeon().action == undefined || isInCombat()">Rest</button>
    <button class="action-button"
        *ngFor="let action of getUnlockedActions()"
        (click)="setAction(action)"
        [disabled]="getDungeon().action == action || isInCombat()">{{action.name}}</button>    
</div>