.action-progress-label {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 16%;
}

.action-progress-bar {
    vertical-align: middle;
    -webkit-appearance: none;
    width: 84%;
    height: 20px;
    border: 4px solid darkgreen;
}
.action-progress-bar::-webkit-progress-value {
    background-color: lightgreen;
}
.action-progress-bar::-webkit-progress-bar {
    background-color: black;
}

.action-button {
    margin: 5px;
    padding: 5px;
}