<div>
    <div id="commands">
        <div class="subtitle">Commands</div>
        <div id="command-list">
            <button class="command-button" (click)="attack()">Attack</button><br>
            <button class="command-button" (click)="flee()">Flee</button>
            <input type="checkbox" [(ngModel)]="autoAttack">Auto Attack
        </div>
    </div>
    <div id="enemy-stats">
        <div class="subtitle">{{getEnemyName()}}</div>
        <div id="resource-display">
            <span id="resource-text">HP</span>
            <progress id="health-bar"
                value="{{getEnemyHealth().current}}" 
                max="{{getEnemyHealth().max}}"></progress><br>
        </div>
        <div id="stat-display">
            <div class="stat" *ngFor="let stat of getEnemyStats()">
                <span class="stat-name">{{stat.id}}</span>
                <span class="stat-level">{{stat.level}}</span>
            </div>
        </div>
    </div>
</div>