.small-column {
    box-sizing: border-box;
    width: 100%;
}

.medium-column {
    box-sizing: border-box;
    width: 50%;
}

.large-column {
    box-sizing: border-box;
    width: 25%;
}

#container {
    float: left;
    padding: 5px;
    border: 5px double black;
}

#container-title {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#sub-title {
    font-size: medium;
}

#title {
    font-size: x-large;
}